body {
    background-color: lightyellow;
}

#navbar h1{
    color: darkred;
}

#navbar a{
    background-color: mistyrose;
}

<<<<<<< HEAD
article{
    background-color: lemonchiffon;
    height: 40%;
=======
#articles article{
    background-color: mistyrose;
>>>>>>> 8687c24b4660f25ae91a1ae19184e7d02e856f74
}